/* Hele kontainern i senter, med bakgrunnsbilde og høyde.*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./Chess-Logo-Design.jpg');
  background-size: cover;
  background-position: center -150px;
 
}
/* Login-Form boksen, med skygge kant/bakgrunn/størrelse */
.login-form {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
/* Navn og Passord Tekst*/
.login-form label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* Navn og Passord input */
.login-form input {                                    
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}
/* Login Knappen */
.login-form button {
  width: 100%;
  background-color: #09f510;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 20px;
  font-size: 18px;
  margin: 8px 0;
  font-weight: bold;
}
/* Grønn Effekt over Login */
.login-form button:hover {
  background-color: #45a049;
}