body {
  background: linear-gradient(to bottom, #000102, #010203);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* sjakkbordet */
.chessboard-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  
}
/* start game knappen */
.start-game-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(5, 14, 90); 
  border: 2px solid rgba(1, 30, 54, 0.5); 
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.start-game-button:hover {
  background-color: rgba(70, 130, 180, 0.8); /* Bakgrunn  */
  border-color: rgba(70, 130, 180, 0.8); /* Border farge  */
}