
.admin-page {
    padding-top: 200px;
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .admin-page h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }
  
  .admin-page input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .admin-page button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .admin-page button:hover {
    background-color: #0056b3;
  }
  